@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Inter:wght@300&family=Noto+Sans+KR&family=Noto+Sans+TC&family=Poppins:wght@300&display=swap");
:root {
  --primary-color: #fff;
  --almost-white: #e0d1d1;
  --primary-red: #ff0000;
  --strong-color: #b11116;
  --hover-color: #b10606;
  --grey-color: #303235;
  --grey-strong: #2e5e74;
  --blue-soft: #1dbe96;
  --standard-black: #000000;
}
* {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  padding: 0;
}
.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      to top right,
      rgba(4, 9, 30, 0.9),
      rgba(4, 9, 30, 0.9)
    ),
    url(images/fatec-lins.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 70px;
  transition: 0.2s;
}
nav img:hover {
  transform: scale(1.085);
  transition: 0.2s;
}
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 13px;
  font-family: "Inter";
  font-weight: 900;
}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--primary-red);
  display: block;
  margin: auto;
  transition: 0.4s;
}
.nav-links ul li:hover::after {
  width: 100%;
}
.text-box {
  width: 90%;
  color: var(--primary-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-box h1 {
  font-size: 62px;
  color: var(--primary-red);
  font-family: "Courier Prime";
  overflow: hidden;
  border-right: 0.17em solid #808083;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.1em;
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--primary-red);
  }
  70% {
    border-color: var(--strong-color);
  }
}
.text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: var(--primary-color);
}
.courses-info {
  text-align: right;
  color: var(--grey-strong);
  font-size: 13px;
}
.courses-info i {
  color: var(--grey-strong);
  font-size: 15px;
}
.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: var(--primary-color);
  border: 1px solid var(--hover-color);
  font-weight: 700;
  font-family: "Poppins";
  border-radius: 5px;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.hero-btn:hover {
  border: 1px solid var(--strong-color);
  background: var(--strong-color);
  transition: 0.2s ease-in-out;
  color: var(--grey-color);
  font-weight: 700;
}
nav .fa {
  display: none;
}
nav .fas {
  display: none;
}
@media (max-width: 700px) {
  .text-box h1 {
    font-size: 20px;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: absolute;
    background: var(--primary-red);
    height: 100vh;
    width: 200px;
    top: 0;
    right: 0;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav i.fa,
  nav i.fas {
    display: block;
    color: var(--primary-color);
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
    transition: 0.2s;
  }
  nav i.fa:hover,
  nav i.fas:hover {
    color: var(--hover-color);
  }
  .nav-links ul {
    padding: 30px;
  }
}

/* seção do curso */
.course {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
h1 {
  font-size: 36px;
  font-weight: 600;
}
p {
  color: var(--blue-strong);
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.course-col {
  flex-basis: 31%;
  background: var(--grey-color);
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
  color: var(--primary-color);
}
h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}
.course-col:hover {
  box-shadow: 0 0 30px 0 rgba(11, 59, 136, 0.9);
}
@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* campus */
.campus {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
.campus-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.campus-col img {
  width: 100%;
  display: block;
}
.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
.layer:hover {
  background: linear-gradient(to bottom, rgba(255, 11, 11, 0.7), white 100%);
  background: rgba(255, 11, 11, 0.7);
}
.layer h3 {
  width: 100%;
  font-weight: 500;
  color: var(--almost-white);
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}
.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}
.facilities {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.facilities-col {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}
.facilities-col img {
  width: 100%;
  border-radius: 10px;
}
.facilities-col p {
  padding: 0;
}
.facilities-col h3 {
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;
}
.testimonials {
  width: 80%;
  margin: auto;
  padding-top: 100px;
  text-align: center;
}
.testimonial-col {
  flex-basis: 44%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background: var(--grey-color);
  color: var(--primary-color);
  padding: 25px;
  cursor: pointer;
  display: flex;
}
.testimonial-col img {
  height: 40px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
}
.testimonial-col p {
  padding: 0;
}
.testimonial-col h3 {
  margin-top: 20px;
  text-align: left;
  font-weight: 700;
  color: var(--grey-strong);
}
.testimonial-col i {
  color: var(--grey-strong);
}
span {
  text-align: right;
  color: var(--grey-strong);
  padding-left: 110px;
}

@media (max-width: 700px) {
  .testimonial-col img {
    margin: 0 15px 0 0;
  }
  .cta h1 {
    font-size: 24px;
  }
}

.cta {
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(images/IMG_20200213_153947151-min.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}
.cta h1 {
  color: var(--primary-red);
  margin-bottom: 40px;
  padding: 0;
}
.footer {
  width: 100%;
  text-align: center;
}
.footer h4 {
  margin-bottom: 5px;
  margin-top: 20px;
  font-weight: 600;
}
.icons i {
  color: var(--grey-strong);
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
  transition: 0.2s;
}
.icons i:hover {
  color: var(--primary-red);
  transition: 0.2s;
  transform: scale(0.7) rotate(360deg);
}
